table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #d6e410;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #d6e410;
}
span {
  color:#adb81b
}

span.percent {
  color: black
}
